<li class="card">
	<div class="title-wrapper">
		<h2>
			<a href="/what-ali-baba-should-have-taught-his-brother-before-entering-the-secret-cave-541r34zo">What Ali Baba
				Should Have Taught His Brother Before Entering The Se...</a>
		</h2>
	</div>

	<div class="card-reactions"></div>
	<div class="image-wrapper">
		<a href="/what-ali-baba-should-have-taught-his-brother-before-entering-the-secret-cave-541r34zo">
			<img alt="" src="https://hackernoon.com/images/NP7wh23cqNb6tU8cF6w5wINPizs2-yi2i25gz.jpeg" width="379"
				height="200" loading="lazy"></a>
		<div class="tag">
			<a href="/tagged/cybersecurity" class="tag-link">#cybersecurity</a>
		</div>
	</div>

	<div class="meta">
		<div class="profile">
			<a href="/u/z3nch4n">
				<img src="https://lh3.googleusercontent.com/a-/AOh14Gi2da-y5KH72iB3V5lOXb0xMzul0nZmXZi8-Bqqdw"
					alt="Author profile picture" width="50" height="50" loading="lazy">
			</a>
			<div>
				<h3>
					<a class="link" href="/u/z3nch4n" class="">@z3nch4n</a>
					<small>Zen Chan</small>
				</h3>
			</div>
		</div>
		<div class="time">
			<div>6min</div>
			<div class="date">01/01/21</div>
		</div>
	</div>
</li>