<section class="main">
	<div class="main__top">
		<div class="main__top-title">
			<h1>Browse the top 27,000+ tags</h1>
		</div>
		<div class="main__top-search">
			<input class="search-input" type="text" placeholder="Search here...">
		</div>
	</div>
	<div class="main__bottom">
		<div class="main__bottom-item text">
			<h4>
				There are over 27,000 tags listed on Hacker Noon stories.
				Browse the most popular tags or search for a particular
				one here.
			</h4>
		</div>

		<div class="main__bottom-item">
			<a class="link" href="#">Looking to sponsor a tag?</a>
		</div>
	</div>

	<div class="main__wrapper">
		<ul class="main__wrapper-list">
			

		</ul>
	</div>

</section>