<section class="main">
	<div class="main__inner">

		<div class="main__top">

			<div class="profile">
				<div class="bio-sections">
					<div class="bio-section">
						<img class="avatar"
							src="https://hackernoon.com/images/avatars/Snhq2R1AhrcVU2y5TKCrutBJCqx1.jpg"
							alt="Author profile picture" width="50" height="50" loading="lazy">
						<div>
							<h3>Code Climate</h3>
							<small>@codeclimate</small>
							<p class="bio-text">Actionable metrics for engineering leaders.</p>
							<div class="social">
								<a href="https://www.linkedin.com/company/code-climate/"
									target="_blank">
									<img src="img/social/linkedin-new.png" alt="LinkedIn social icon" width="20" height="20"
										loading="lazy">
								</a>
								<a href="https://facebook.com/Code%20Climate" target="_blank">
									<img src="img/social/facebook-new.png" alt="facebook social icon" width="20" height="20"
										loading="lazy">
								</a>
								<a href="https://twitter.com/codeclimate" target="_blank">
									<img src="img/social/twitter-new.png" alt="Twitter social icon" width="20" height="20"
										loading="lazy">
								</a>

								<a href="https://github.com/codeclimate" target="_blank">
									<img src="img/social/github-new.png" alt="Github social icon" width="20" height="20"
										loading="lazy">
								</a>
							</div>
						</div>
					</div>
					<div class="divider"></div>
					<div class="reading-time">
						<div class="author-stats">
							<p class="label">The <u>beautiful humans</u> of Hacker Noon have collectively read @codeclimate’s 19 stories for
							</p>
							<p class="time"> 3 days 21 hours and 21 minutes</p>
						</div>
					</div>
				</div>
				
			</div>

		</div>


		<h4 class="stories">Stories</h4>

		<div class="main__wrapper">
			<ul class="main__wrapper-list tagged">

				<div class="main__wrapper-item">

					<!-- @@include('_card.html') -->

				</div>


			</ul>
		</div>

		<h4 class="stories">Bookmarks</h4>



		@@include('_button-join.html')
	</div>

</section>