<ul class="pagination__list">
	<li class="pagination__item first-page">
		<span class="pagination__link">«</span>
	</li>
	<li class="pagination__item previous-page">
		<span class="pagination__link">‹</span>
	</li>
	<li class="pagination__item page">
		<a class="pagination__link selected" aria-label="Page 1" href="#">1</a>
	</li>
	<li class="pagination__item page">
		<a class="pagination__link" aria-label="Page 2" href="#">2</a>
	</li>
	<li class="pagination__item page">
		<a class="pagination__link" aria-label="Page 3" href="#">3</a>
	</li>
	<li class="pagination__item page">
		<a class="pagination__link" aria-label="Page 4" href="#">4</a>
	</li>
	<li class="pagination__item page">
		<a class="pagination__link" aria-label="Page 5" href="#">5</a>
	</li>
	<li class="pagination__item page">
		<a class="pagination__link" aria-label="Page 6" href="#">6</a>
	</li>
	<li class="pagination__item page">
		<a class="pagination__link" aria-label="Page 7" href="#">7</a>
	</li>
	<li class="pagination__item next-page">
		<a class="pagination__link" aria-label="Next page" href="#">›</a>
	</li>
</ul>