<div class="story page">
	<h1>[Announcement] Running Your Containers on AWS Is Coming Up On Twitch in September 2020</h1>

	<div class="story-meta">
		<div calss="story-bookmark">
			<a class="date" href="https://hackernoon.com/archives/2020/08/28">August 28th 2020</a>
			<button class="bookmark">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 431.972 431.972">
					<path d="M393.146,14.279c-3.713-5.333-8.713-9.233-14.989-11.707c-3.997-1.711-8.186-2.568-12.565-2.568V0H66.378
		c-4.377,0-8.562,0.857-12.56,2.568c-6.28,2.472-11.278,6.377-14.989,11.707c-3.71,5.33-5.568,11.228-5.568,17.701v368.019
		c0,6.475,1.858,12.371,5.568,17.706c3.711,5.329,8.709,9.233,14.989,11.704c3.994,1.711,8.183,2.566,12.56,2.566
		c8.949,0,16.844-3.142,23.698-9.418l125.91-121.062l125.91,121.065c6.663,6.081,14.562,9.127,23.695,9.127
		c4.76,0,8.948-0.756,12.565-2.279c6.276-2.471,11.276-6.375,14.989-11.711c3.71-5.328,5.564-11.225,5.564-17.699V31.98
		C398.71,25.507,396.852,19.609,393.146,14.279z M362.166,391.139L241.397,275.224l-25.411-24.264l-25.409,24.264L69.809,391.139
		V36.549h292.357V391.139L362.166,391.139z" />
				</svg>
			</button>
		</div>

		<div class="story-reactions">
			<div class="reactions">
				<label>10</label>
				<div class="emojis">
					<div class="emoji-container">
						<span></span>
						<img class="emoji-animation icon-3" src="https://hackernoon.com/emojis/heart.png">
					</div>
					<div class="emoji-container">
						<span></span>
						<img class="emoji-animation icon-3" src="https://hackernoon.com/emojis/light.png">
					</div>
					<div class="emoji-container">
						<span></span>
						<img class="emoji-animation icon-3" src="https://hackernoon.com/emojis/boat.png">
					</div>
					<div class="emoji-container">
						<span></span>
						<img class="emoji-animation icon-3" src="https://hackernoon.com/emojis/money.png">
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="fullscreen">
		<img alt=""
			src="https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FDtFsnH4V0uOm9okhi0U8yhOYFlU2-a853ueq.jpeg?alt=media&amp;token=326bee88-3bb6-4ba0-8ed6-e275b4d60701">
	</div>
	<div class="story__wrapper">
		<div class="story__profile">
			<a href="/u/AWS">
				<img class="avatar"
					src="https://firebasestorage.googleapis.com/v0/b/hackernoon-app.appspot.com/o/images%2FDtFsnH4V0uOm9okhi0U8yhOYFlU2-jn03u29.jpeg?alt=media&amp;token=c29ab473-3ec6-4a84-a175-194b133d449b"
					alt="Author profile picture" width="50" height="50" loading="lazy">
			</a>
			<div class="story__profile-content">
				<h3>
					<a href="/u/AWS" class="link">@AWS</a>
					<small>Amazon Web Services (AWS)</small>
				</h3>
				<p>Amazon Web Services (AWS) is a collection of web-services for computing, storage, security and more.</p>
				<div class="social-icons">
					<a href="https://www.linkedin.com/company/amazon-web-services/?originalSubdomain=au" target="_blank"
						rel="dofollow">
						<img src="img/social/linkedin-new.png" alt="LinkedIn social icon" width="20" height="20"
							loading="lazy">
					</a>
					<a href="https://facebook.com/amazonwebservices" target="_blank" rel="dofollow">
						<img src="img/social/facebook-new.png" alt="facebook social icon" width="20" height="20"
							loading="lazy">
					</a>
					<a href="https://twitter.com/awscloud" target="_blank" rel="dofollow">
						<img src="img/social/twitter-new.png" alt="Twitter social icon" width="20" height="20" loading="lazy">
					</a>
				</div>
			</div>

		</div>
		<div class="story__content">
			<div class="story__paragraph">
				<p>
					Have you ever had questions about running your containers on AWS?
					If so, this upcoming, Developers, Let's Code session is for you!
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					Coming soon on <span>02 September 2020</span> as part of the
					AWS <span>Developers, Let’s Code</span> series live-streamed on Twitch,
					is a special informative session called <span>‘Running Your Containers
						on AWS’</span>. You can discover more about the whole series and this
					session <a class="link" href="#">over here</a>.
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					Presented by AWS live on Twitch, <span>Developers, Let’s Code</span> is a weekly learning
					series with hands-on demos and virtual sessions tackling interesting core dev concepts
					and some of the hottest topics in cloud technology.
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					Led by AWS experts, these sessions are designed to help you acquire new skills,
					launch your applications, and learn the fundamentals in the AWS cloud - all within
					an innovative, safe, and supportive environment.
				</p>
				<div class="p-reactions">

				</div>
			</div>


			<h2>
				<strong>What will you learn at ‘Running Your Containers on AWS’?</strong>
			</h2>

			<div class="story__paragraph">
				<p>
					This container focused session is designed to be practical,
					informative, and easy to apply. Containers have become the most common way to
					deploy applications, especially if you are building one using microservices architecture.
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					They allow you to standardise your tooling for building and deploying applications,
					while simplifying common tasks such as logging, metrics, and scaling your app to
					run a certain number of copies.
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					There are several ways to run containers on AWS,
					and this session will focus on using <span>AWS Elastic Beanstalk</span> to help you
					get started quickly with containers, and focus on building your application,
					instead of the accompanying infrastructure requirements.
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					We will cover how AWS Elastic Beanstalk makes it easy to get your container
					running on a single <span>Amazon Elastic Compute Cloud (EC2)</span> host, and then change
					the configuration to scale our application to have multiple copies behind
					an <span>AWS Application Load Balancer</span>.
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					We will then proceed to configure a custom domain for our application and issue, validate,
					and apply an SSL certificate using <span>AWS Certificate Manager</span> at no additional cost.
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					<span>Key session takeaways:</span> You will learn how to set up a container-based service behind an
					Application Load Balancer with an SSL Certificate and deploy automatically with a CI/CD
					pipeline connected to your code repository
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					<span>Register now for the Containers episode at AWS Developers, Let’s Code</span>
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					Join us live on Twitch at Developers, Let’s Code.
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					<a class="link" href="#">Click here to register</a> now for the session ‘Running Your Containers on AWS’
					- happening
					on <span>02 September 2020</span> from 11:00 am to 12:00 pm AEST.
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					Or head to <a class="link" href="#">codewithAWS.com</a>
				</p>
				<div class="p-reactions">

				</div>
			</div>

			<div class="story__paragraph">
				<p>
					We look forward to seeing you then, where you will learn how to get your
					application deployed in under an hour in this practical, hands-on live stream!
				</p>
				<div class="p-reactions">

				</div>
			</div>


			<div class="story__paragraph">
				<div class="story-reactions bottom">
					<div class="reactions">
						<label>10</label>
						<div class="emojis">
							<div class="emoji-container">
								<span></span>
								<img class="emoji-animation icon-3" src="https://hackernoon.com/emojis/heart.png">
							</div>
							<div class="emoji-container">
								<span></span>
								<img class="emoji-animation icon-3" src="https://hackernoon.com/emojis/light.png">
							</div>
							<div class="emoji-container">
								<span></span>
								<img class="emoji-animation icon-3" src="https://hackernoon.com/emojis/boat.png">
							</div>
							<div class="emoji-container">
								<span></span>
								<img class="emoji-animation icon-3" src="https://hackernoon.com/emojis/money.png">
							</div>
						</div>
					</div>
				</div>

				<div class="p-reactions">

				</div>
			</div>


			<div class="story__paragraph">


				<div class="p-reactions">

				</div>
			</div>






		</div>
	</div>

	<h4 class="stories">related</h4>

	
	<div class="main__wrapper">
		<ul class="main__wrapper-list tagged">

			<div class="main__wrapper-item">

				<!-- @@include('_card.html') -->

			</div>


		</ul>
	</div>



	<div class="tags-content">
		<h4 class="stories">Tags</h4>
		<div class="tags">
			<a class="tag-link" href="/tagged/aws" class="">#aws</a>
			<a class="tag-link" href="/tagged/containers" class="">#containers</a>
			<a class="tag-link" href="/tagged/webinar" class="">#webinar</a>
			<a class="tag-link" href="/tagged/aws-elastic-beanstalk" class="">#aws-elastic-beanstalk</a>
			<a class="tag-link" href="/tagged/containers-devops" class="">#containers-devops</a>
			<a class="tag-link" href="/tagged/aws-top-story" class="">#aws-top-story</a>
			<a class="tag-link" href="/tagged/developers-on-twitch" class="">#developers-on-twitch</a>
			<a class="tag-link" href="/tagged/aws-services" class="">#aws-services</a>
		</div>
	</div>



	
	@@include('_button-join.html')
</div>